@model List<Student>

<h2>Search Student</h2>

<form method="post" asp-action="SearchStudent">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" class="form-control" />
    </div>
    <div class="form-group">
        <label for="city">City:</label>
        <input type="text" id="city" name="city" class="form-control" />
    </div>
    <div class="form-group">
        <label for="country">Country:</label>
        <input type="text" id="country" name="country" class="form-control" />
    </div>
    <div class="form-group">
        <label for="state">State:</label>
        <input type="text" id="state" name="state" class="form-control" />
    </div>
    <table>
        <th>
    <div class="form-group">
        <label for="startDate">Search by Created On Range</label>
        <input type="date" id="startDate" name="startDate" class="form-control" />
    </div>
        </th>
        <th>
    <div class="form-group">
        <label for="endDate"></label>
        <input type="date" id="endDate" name="endDate" class="form-control" />
    </div>
        </th>
    </table>
    <button type="submit" class="btn btn-primary mt-2">Search</button>
</form>

@if (Model != null)
{
    @if (Model.Count > 0)
    {
        <h3>Search Results</h3>
        <table class="table m-2">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Class</th>
                    <th>Date of Birth</th>
                    <th>City</th>
                    <th>Country</th>
                    <th>State</th>
                    <th>Creted On</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var student in Model)
                {
                    <tr>
                        <td>@student.Name</td>
                        <td>@student.Class</td>
                        <td>@student.Dob.ToShortDateString()</td>
                        <td>@(student.City != null ? student.City.Name : "")</td>
                        <td>@(student.Country != null ? student.Country.Name : "")</td>
                        <td>@(student.State != null ? student.State.Name : "")</td>
                        <td>@student.CreatedOn</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p style="color:red">No matching students found.</p>
    }
}
