@model School.Models.Fee

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Fee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.January)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.January)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.February)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.February)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.March)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.March)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.April)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.April)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.May)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.May)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.June)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.June)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.July)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.July)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.August)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.August)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.September)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.September)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.October)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.October)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Novemeber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Novemeber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.December)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.December)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.StudentId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FeesId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
